.covid-settings {
    .item-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .code-editor .value-displayer {
       font-style: italic;
    }
}