.admin-users {
  .user-card-body {
    padding: 0 !important;
    padding-bottom: 10px !important;
    // box-shadow: inset 1px 4px 9px -6px, inset -4px 1px 9px -6px;
    .user-table {
      margin: 0;
      display: block;
      overflow-x: scroll;
      tr {
        text-align: center;
      }
      th {
        padding: 8px 8px;
      &:first-child {
        padding-left: 16px;
      }
      &:last-child {
        padding-right: 16px;
      }
      }
    }
  }

  h6 {
    display: inline-block;
  }
  .add-user {
    position: relative;
    left: 10px;
    bottom: 4px;
  }
  .user-row {
    transition: 300ms ease all;
    border-bottom: 1px solid #e1e5eb;
    td {
      padding: 16px 8px;
      &:first-child {
        padding-left: 16px;
      }
      &:last-child {
        padding-right: 16px;
      }
      
    }
    cursor: pointer;
    &:hover {
      background-color: #dceaff;
      border-bottom: 1px solid white;
    }
  }

  .allowed {
    color: rgb(81, 168, 81);
  }
  .not-allowed {
    color: #bbbbbb;
  }
  .search-field-container {
    position: absolute;
    top: 6px;
    margin-left: 5px;
  }
}
