.log-modal {
    .modal-content {
    max-height: 400px !important;
    .modal-body {
    overflow: scroll;
    padding-bottom: 4px;
        .modal-row {
            position: relative;
            height: 40px;
            .time {
                position: absolute;
                right: 0px;
            }
        }
    }
}
}