.minimalist-input-field {
    input {
        width: calc(100% - 40px);
        color: #5a6169;
        font-size: 16px;
        border: none;
        border-bottom: 1px solid #5a6169;
        &:focus {
            outline: none;
        }
    }
}