.outstanding-email {
.material-icons {
      color: #999999;
      transition: 300ms ease all;

      position: absolute;
      right: 10px;
      top: 0px;
      font-size: 24px;

      &:hover {
        cursor: pointer;
        color: #b8b8b8;
      }
    }
  .existing-user-container {
    position: relative;
    margin: 12px 0;
    left: 5px;
    font-size: 16px;
    // &:first-child {
    //     margin-top: 4px;
    // }
    
  }
  .add-user-container {
      position: relative;
    margin: 12px 0;
    left: 5px;
    
      .add-user-plus-button {
          position: absolute;
          
          .material-icons {
font-size: 42px !important;
          }
      right: -9px;
      top: -8px;
          -webkit-appearance: none;
          border: none;
          -moz-appearance: none;
          &:focus {
            outline: none;
        }
      }
  }
}
