.student-passes-viewer {
  @media only screen and (max-width: 600px) {
    user-select: none;
  }
  .custom-table-header-cell {
    text-align: center;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 44px;
  }
  .icon-tray {
    position: absolute;
    right: 10px;
    top: 20px;
    display: inline-block;
    @media only screen and (max-width: 600px) {
        display: none;
    }
  }
  .bottom-tray {
      display: none;
      @media only screen and (max-width: 600px) {
        position: relative;
        top: 18px;
        justify-content: space-evenly;
        margin-bottom: 26px;
        display: flex;
      }
  }
  .empty-data-text {
    text-align: center;
    margin-top: 16px;
    margin-bottom: 0;
  }

  .select-column {
    width: 10%;
    &.custom-table-row-cell {
      position: relative;
      left: 5px;
    }
    
    @media only screen and (max-width: 600px) {
      width: 12%;
    }
    @media only screen and (max-width: 450px) {
      width: 12%;
    }
  }
  .id-column {
    width: 12%;
    @media only screen and (max-width: 600px) {
      width: 0%;
      color: rgba(0,0,0,0);
    }
  }
  .grade-column {
    width: 6%;
    @media only screen and (max-width: 600px) {
      width: 8%;
    }
    @media only screen and (max-width: 450px) {
      width: 0%;
      color: rgba(0,0,0,0);
    }
  }
  .name-column {
    width: 20%;
    @media only screen and (max-width: 600px) {
      width: 21%;
    }
    @media only screen and (max-width: 450px) {
      width: 21%;
    }
  }
  .status-column {
    width: 26%;
    @media only screen and (max-width: 600px) {
      width: 29%;
    }
    @media only screen and (max-width: 450px) {
      width: 31%;
    }
  }
  .updated-column {
    width: 16%;
    @media only screen and (max-width: 600px) {
      width: 18%;
    }
    @media only screen and (max-width: 450px) {
      width: 23%;
    }
  }
  .log-column {
    width: 10%;
    .log-link {
      color: #007bff;
      cursor: pointer;
    }
    @media only screen and (max-width: 600px) {
      width: 12%;
    }
    @media only screen and (max-width: 450px) {
      width: 0%;
      color: rgba(0,0,0,0);
      .log-link {
        color: rgba(0,0,0,0);
      }
    }
  }
  .more-column {
    width: 0%;
    color: rgba(0,0,0,0);
      .more-link {
        color: rgba(0,0,0,0);
      }
    @media only screen and (max-width: 600px) {
      width: 0%;
    }
    @media only screen and (max-width: 450px) {
      width: 13%;
      .more-link {
      color: #007bff;
    }
    }
  }
}
