.student-passes-viewer {
  .custom-table-header-cell {
    text-align: center;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 44px;
  }
  .icon-tray {
    position: absolute;
    right: 10px;
    top: 18px;
    display: inline-block;
  }
  .empty-data-text {
    text-align: center;
    margin-top: 16px;
    margin-bottom: 0;
  }
}
