.toggle-card-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-color: #d0dad6;
  user-select: none;
  overflow: hidden;
  .center-container {
    position: relative;
    .invalid-device {
      position: relative;
      bottom: 36px;
      font-size: 24px; 
    }

    .card {
      color: white;
      .title {
        font-size: 18px;
      }
      background-color: #154734;
      .scan-entry-input {
        cursor: default;
        text-align: center;
        border: none;
        user-select: none;
        background-color: #b4daca;
        // caret-color: transparent;
        &:focus {
          box-shadow: none;
          border-color: none;
        }
        &::selection {
          background: transparent;
        }
        
      }

      
    }
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    @media only screen and (max-width: 430px) {
      width: 90%;
    }
  }
}
