.schedule-editor-row {
    height: 2rem;
    margin-top: 5px;
}

.period-label {
    width: 30% !important;
    text-align: right;
    font-size: 0.9rem;
    height: 2rem;
}
.time-input {
    width: 52% !important;
}
.am-pm {
    position: relative !important;
    top: -1.5px !important;
    width: 20% !important;
}
.all-inputs {
    height: 2rem !important;
    display: inline-block !important;
    margin: 0 1.5% !important;
}