.school-form {
  margin: 0 0 30px 0;
  .card-form {
    padding: 15px 15px 15px 15px;
  }

  .btn-form {
    margin-right: 15px;
    display: inline-block;
  }

  .fa-asterisk {
    color: #c4183c;
    margin-left: 2px;
  }

  .hoo-text-area {
    min-height: 100px;
  }

  .auto-update-check {
    margin: 10px 7px;
    .text {
      margin-right: 7px;
    }
    span.my-checkbox {
      position: relative;
      top: 4px;
    }

  }
}
