.calendar-date-picker {
  .card-body {
    padding-top: 4px;
  }
  .row {
    padding: 16px 0;
    border-bottom: 2px solid #eeeeee;
    &:last-child {
      border-bottom: 0px;
      padding-bottom: 0px;
    }
    display: flex;
    align-items: center;

    .dates-form-container {
      .material-icons {
        transition: 300ms ease all;
      }
      transition: 300ms ease all;
      border: solid 1px transparent;
      border-radius: 5px;
      cursor: pointer !important;
      &:hover {
        box-shadow: 0 0.125rem 5.375rem rgba(90, 97, 105, 0.1),
          0 0.25rem 0.5rem rgba(90, 97, 105, 0.12),
          0 0.9375rem 1.375rem rgba(90, 97, 105, 0.1),
          0 0.4375rem 2.1875rem rgba(0, 123, 255, 0.1);
        border-color: #154734;

        .material-icons {
          color: #154734;
        }
      }
      input:hover {
        cursor: pointer !important;
      }
    }
  }
}
