.calendar-date-picker {
  .dates-group {
    display: flex;
    justify-content: space-between;

    align-items: center;
    margin-bottom: 16px;

    .dates-form-container {
      display: inline-block;
      width: 40%;
      .material-icons {
        transition: 300ms ease all;
      }
      transition: 300ms ease all;
      border: solid 1px transparent;
      border-radius: 5px;
      cursor: pointer !important;
      &:hover {
        box-shadow: 0 0.125rem 5.375rem rgba(90, 97, 105, 0.1),
          0 0.25rem 0.5rem rgba(90, 97, 105, 0.12),
          0 0.9375rem 1.375rem rgba(90, 97, 105, 0.1),
          0 0.4375rem 2.1875rem rgba(0, 123, 255, 0.1);
          border-color: #007bff88;

        .material-icons {
          color: #007bff;
        }
      }
      input:hover {
        cursor: pointer !important;
      }
    }
  }
}
