.day-viewer {
 text-align: center;   

 .date-header {
     font-size: 16px;
     user-select: none;
     .day-change-arrow-icon {
         
         cursor: pointer;
         position: relative;
         top: 2px;
     }
 }

 .day-label {
     letter-spacing: 0.125rem;
    color: #818ea3;
    font-size: 0.625rem;
    position: relative;
    top: 8px;
 }

 .day-value {
     font-size: 48px;
     font-weight: 700;
 }

 .school-label {
     font-style: italic;
     position: relative;
     bottom: 8px;
 }
}