.basic-layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  position: relative;
  left: 0;
  top: 0;
  .component {
    flex: 1;
    width: calc(100% - env(safe-area-inset-left));
    @media only screen and (max-width: 600px) {
      margin-top: 65px;
    }
  }
  width: 100vw;
  @supports (padding: unquote("max(0px)")) {
    padding-right: unquote("max(0px, calc(env(safe-area-inset-right) - 12px))");
  }

  .user-container {
    text-align: right;

    @supports (padding: unquote("max(0px)")) {
      padding-right: unquote(
        "max(12px, calc(env(safe-area-inset-left)) - 20px)"
      );
    }
    width: 100%;
    height: 65px;
    @media only screen and (max-width: 600px) {
      padding-right: 4px;
      width: 100vw;
      box-shadow: 0 0.125rem 9.375rem rgba(90, 97, 105, 0.1),
        0 0.25rem 0.5rem rgba(90, 97, 105, 0.12);
        position: fixed;
    }
    position: relative;
    background-color: white;
    .header-lettermark {
      display: none;
      width: 35px;
      user-select: none;
      @media only screen and (max-width: 600px) and (min-width: 225px) {
        display: inline;
        width: 35px;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
      @media only screen and (max-width: 225px) {
        display: inline;
      }
    }
    z-index: 999;

    .logo-container {
      left: 0px;
      background-color: white;
      position: absolute;
      bottom: 0px;
      padding: 10px;

      @supports (padding: unquote("max(0px)")) {
        padding-left: unquote(
          "max(10px, calc(env(safe-area-inset-left)) - 6px)"
        );
      }
      width: calc(210px + env(safe-area-inset-left));
      @media only screen and (max-width: 600px) {
        display: none;
      }
      .wordmark {
        line-height: 40px;
        padding-left: 5px;
        font-size: 16px;
        font-weight: 800;
      }
    }
  }
}
